work_dir="/snuh_data/pdx"
tmp="/snuh_data/tmp"

bwa="/SNUH/app/bwa-0.7.10/bwa"
picard_folder="/SNUH/app/picard-tools-1.118/"
gatk="/SNUH/app/GenomeAnalysisTK-3.2-2/GenomeAnalysisTK.jar"
samtools="/SNUH/app/samtools-0.1.19/samtools"
indelgenotyper="/SNUH/app/Indelocator/IndelGenotyper.36.3336-GenomeAnalysisTK.jar"
muTect="/SNUH/app/muTect-1.1.4/muTect-1.1.4.jar"
varscan="/SNUH/app/VarScan-2.3.6/VarScan.v2.3.6.jar"
conifer="/SNUH/app/conifer_v0.2.2/conifer.py"
python="/usr/bin/python"
breakdancer_bam2cfg="/SNUH/app/breakdancer-1.1.2/perl/bam2cfg.pl"
breakdancer_max="/SNUH/app/breakdancer-1.1.2/cpp/breakdancer-max"
pindel="/SNUH/app/pindel-0.2.5a7/pindel"
pindel2vcf="/SNUH/app/pindel-0.2.5a7/pindel2vcf"

#ref="/SNUH/db/b37/human_g1k_v37.fasta"
ref="/snuh_data/reference/human_g1k_v37_herpesvirus.fasta"
mills="/SNUH/db/Mills_and_1000G_gold_standard.indels.b37.vcf"
KG="/SNUH/db/1000G_phase1.indels.b37.vcf"
dbsnp="/SNUH/db/dbsnp_138.b37.vcf"
dbsnp_vc="/SNUH/db/dbsnp_132_b37.leftAligned.vcf"
bait="/SNUH/db/SureSelect_Human_All_Exon_V5.bed"
intervals="/SNUH/db/SureSelect_Human_All_Exon_V5.bed"
